body {
   
    animation: zoom 1s;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(244, 171, 171, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(99, 194, 238, 0.5);
}

.logo {
    width: 100px; /* Adjust logo size */
    display: block;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
 
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
  
    color: rgb(7, 6, 6);
    border: none;
    padding: 10px;
   
   

    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #bff7cb;
    width: 100;
}

#agentForm input {
    background: rgb(247, 247, 245);
    width: 100%;
  
}
header {
    background-color: #333;
    color: #9a7f7f;
    padding: 1em;
    text-align: right;
}
input[type="submit"] {
    width: px;  /* Set desired width */
    height: 35px;  /* Set desired height */
  
    box-sizing: border-box; /* Ensures padding doesn’t increase size */
    background-color: #007bff;
    color: rgb(94, 124, 253);
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
   
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  
  input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  

header nav ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: right;
   
}

header nav ul li {
    margin-right: 10px;
}

header nav a {
    color: #fdfafa;
    text-decoration: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
@keyframes zoom{
    from{
        transform: scale(0);

    }
    to{
        transform: scale(1);
    }
}