body {
    margin: 0;
    height: 100vh; /* Full height of the viewport */
    background-image: url('/img/house204.JPG'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    animation: zoom 1s;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
header {
    display: flex;
    align-items: center;
    background-color: #20414f;
    color: #fff;
    padding: 1em;
    text-align: right;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-table;
    margin-left: 90px;
   
}

nav a {
    color: white;
    text-decoration: none;
}


nav ul li {
    display: inline-table;
    margin-left: 90px;
   
}

nav a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
@keyframes zoom{
    from{
        transform: scale(0);

    }
    to{
        transform: scale(1);
    }
}
