body {
    margin: 0;
    height: 100vh; /* Full height of the viewport */
    background-image: url('/img/house204.JPG'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    animation: zoom 1s;

}

  

header {
    background-color: #333;
    color: #fff;
    padding: 2em;
    text-align: right;
}

header nav ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
   display: flex;
 justify-content: right;
}

header nav ul li {
    margin-right: 30px;
}

header nav a {
    color: #f3eded;
 
}

.logo {
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 0px;
    border-radius: 0px;
}


main {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.hero {
    background-color: #f9f7f7;
    padding: 2em;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(185, 22, 22, 0.1);
      
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.features {
    margin-top: 0px;
    background-color: rgb(234, 238, 235);
    text-decoration: double;
}

.features ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: end;
   
}
.explore-button{
    background-color: aquamarine;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.explore-button:hover{
    background-color: aquamarine;
}

.features li {
    margin-bottom: 20px;
    background-color: #fff;
}

.features i {
    margin-right: 10px;
}
.testimonials {
    margin-top: 20px;
}

.testimonials ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.testimonials li {
    margin-bottom: 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2px;
    text-align: center;
    clear: both;
}
@keyframes zoom{
    from{
        transform: scale(0);

    }
    to{
        transform: scale(1);
    }
}
