body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(''); /* Add your background image */
    background-size: cover;
    color: #fff;
    animation: zoom 1s;
}
body {
    margin: 0;
    height: 100vh; /* Full height of the viewport */
    background-image: url('/img/house204.JPG'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    animation: zoom 1s;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    margin-right: 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    margin-top: 20px;
}
@keyframes zoom{
    from{
        transform: scale(0);

    }
    to{
        transform: scale(1);
    }
}
