
body {
    margin: 0;
    height: 100vh; /* Full height of the viewport */
    background-image: url('/img/house204.JPG'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    animation: zoom 1s;
}
img{
    transition: transform 1.2s;
}
img:hover {
    transform: scale(2.2);
}


header {
    background-color: #151617;
    color: rgb(241, 242, 179);
    padding: 0px;
    
}

nav ul {
   
    padding: 0;
    text-align: right;
   
}

nav ul li {
    display: inline;
    margin: 0 15px;
  
    
}

nav ul li a {
    text-decoration: none;

}

.car-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5px;
    padding: 20px;
}

.car-item {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}

.car-item img {
    width: 90%;
    height: 250px;
    border-radius: 30px;
}

.car-item h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.car-item p {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
}
@keyframes zoom{
    from{
        transform: scale(0);

    }
    to{
        transform: scale(1);
    }
}
