body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    animation: zoom 1s;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    margin-right: 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

nav ul li {
    display: inline-table;
    margin-left: 30px;
   
}

nav a {
    color: white;
    text-decoration: none;
}

.apply-for-lease {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em; 
}

form {
    display: table-footer-group;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input, select {
    width: 80%;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
#apply-for-lease-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
  }
  
  #apply-for-lease-form h2 {
    margin-top: 0;
  }
  
  #apply-for-lease-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #apply-for-lease-form input, #apply-for-lease-form select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #apply-for-lease-form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #apply-for-lease-form button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  @keyframes zoom{
    from{
        transform: scale(0);

    }
    to{
        transform: scale(1);
    }
}
  
