body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('house111.jpg'); 
    background-size: cover;
    color: #f9a73c;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: right;
}

header nav ul {
    list-style: none;
    margin: 5px;
    padding: 10px;
    display: inline-flex;
    justify-content: space-evenly;
}

header nav ul li {
    margin-left: 15px;
}

header nav a {
    color: #fff;
    text-decoration: solid;
}

.logo {
    width: 0px;
    height: 100px;
    float: left;
    margin-top: 0px;
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.logo {
    width: 50px; /* Set logo width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 190px; /* Space between logo and nav */
}

nav {
    display: flex;
    align-items: center; /* Align links with logo */
}

nav a {
    margin-right: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.auth-buttons {
    margin-left: auto; /* Push auth buttons to the far right */
    display: flex;
    gap: 15px; /* Space between buttons */
}

.container {
    max-width: 400px;
    margin: 0px auto; /* Center the form */
    padding: 20px;
    background-color: rgb(74, 188, 217); /* White background for form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.container h2 {
    text-align: center;
    color: #09080a; /* Match header color */
}

.container input {
    width: 100%; 
    padding: 15px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; /* Light gray border */
}

.container button {
    width: 70%; 
    padding: 10px; 
    background-color: #060507; 
    color: white; 
    font-weight:bolder;
    border: none; 
    border-radius: 5px; 
}

.container button:hover {
   background-color: #5b08a1; /* Darker purple on hover */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 100px;
    text-align: center;
    clear: both;
    padding: 5px;
}